.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

button.arrowLeft {
  border: none;
  background: transparent;
  padding: 0;
}

:where(
    a,
    button,
    input,
    textarea,
    select,
    [role="button"],
    [tabindex]:not([tabindex="-1"])
  ):focus-visible {
  outline: 3px solid #29abe2;
  outline-offset: 2px;
}
