  .a {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 1.375rem;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    min-width: 0.75rem;
  }
  .a-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mid) var(--padding-17xl);
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-black);
    font-family: var(--version-2-body);
  }
  .frame-child {
    align-self: stretch;
    position: relative;
    border-radius: var(--br-10xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .contact-list-v1-mobile-inner {
    align-self: stretch;
    height: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xs) 0;
    box-sizing: border-box;
  }
  .am,
  .frame-item {
    position: absolute;
  }
  .frame-item {
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #ff7a00;
    border: 0 solid var(--white);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  .am {
    top: 1rem;
    left: 0.438rem;
    line-height: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.75rem;
    height: 0.625rem;
    z-index: 1;
  }
  .ellipse-parent {
    height: 2.625rem;
    flex: 1;
    position: relative;
  }
  .profile-badge {
    width: 2.625rem;
    border-radius: var(--br-26xl);
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .anton-mayer {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 1.438rem;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    min-width: 7.188rem;
  }
  .antomgmailcom {
    position: relative;
    font-size: var(--version-2-body-size);
    line-height: 120%;
    color: var(--version-2-main-color);
    white-space: nowrap;
  }
  .anton-mayer-parent,
  .contact-name {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .anton-mayer-parent {
    flex-direction: column;
    gap: var(--gap-8xs);
    text-align: left;
    font-size: var(--version-2-t6-size);
    color: var(--color-black);
    font-family: var(--version-2-body);
  }
  .contact-name {
    align-self: stretch;
    border-radius: var(--br-3xs);
    background-color: var(--white);
    flex-direction: row;
    padding: var(--padding-mini) var(--padding-5xl);
    gap: var(--gap-16xl);
  }
  .frame-inner {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-blueviolet-200);
    border: 0 solid var(--white);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  .anton-mayer-container {
    flex-direction: column;
    gap: var(--gap-8xs);
    text-align: left;
    font-size: var(--version-2-t6-size);
    color: var(--color-black);
    font-family: var(--version-2-body);
  }
  
  
  
  .m {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 1.375rem;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    min-width: 1.063rem;
  }
  .m-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mid) var(--padding-17xl);
    z-index: 4;
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-black);
    font-family: var(--version-2-body);
  }
  .frame-footer {
    align-self: stretch;
    height: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xs) 0;
    box-sizing: border-box;
    z-index: 5;
  }

  .ellipse-parent3 {
    height: 2.625rem;
    flex: 1;
    position: relative;
  }
  .profile-badge6 {
    width: 2.625rem;
    border-radius: var(--br-26xl);
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .t {
    margin: 0;
    width: 0.625rem;
    position: relative;
    font-size: inherit;
    line-height: 120%;
    font-weight: 400;
    font-family: inherit;
    align-items: center;
  }
  .t-wrapper {
    height: 3.5rem;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mid) var(--padding-17xl);
    box-sizing: border-box;
    z-index: 7;
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-black);
    font-family: var(--version-2-body);
  }
  .contact-list-v1-mobile-inner2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xs) 0;
    z-index: 8;
  }
  .frame-child9 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-tomato);
    border: 0 solid var(--white);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  .tw {
    position: absolute;
    top: 1rem;
    left: 0.438rem;
    line-height: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.75rem;
    height: 0.625rem;
    z-index: 1;
  }
  .ellipse-parent4 {
    height: 2.625rem;
    flex: 1;
    position: relative;
  }
  .profile-badge7 {
    width: 2.625rem;
    border-radius: var(--br-26xl);
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .antomgmailcom7,
  .anton-mayer7 {
    position: relative;
    line-height: 120%;
    display: flex;
    align-items: center;
  }
  .anton-mayer7 {
    margin: 0;
    width: 6.938rem;
    height: 1.438rem;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .antomgmailcom7 {
    align-self: stretch;
    height: 1.188rem;
    font-size: var(--version-2-body-size);
    color: var(--version-2-main-color);
    white-space: nowrap;
  }
  .anton-mayer-parent5,
  .contact-name7 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .anton-mayer-parent5 {
    width: 7.688rem;
    flex-direction: column;
    gap: var(--gap-8xs);
    text-align: left;
    font-size: var(--version-2-t6-size);
    color: var(--color-black);
    font-family: var(--version-2-body);
  }
  .contact-name7 {
    align-self: stretch;
    border-radius: var(--br-3xs);
    background-color: var(--white);
    flex-direction: row;
    padding: var(--padding-mini) var(--padding-5xl);
    gap: var(--gap-16xl);
    z-index: 9;
  }
  .contact-list-v1-mobile-item {
    align-self: stretch;
    height: 5.625rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .contact-list-v1-mobile,
  .contact-list-v1-mobile-wrapper,
  .header-mobile {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .contact-list-v1-mobile {
    flex: 1;
    background-color: var(--white);
    flex-direction: column;
    padding: var(--padding-5xl) var(--padding-5xl) 7.125rem;
    box-sizing: border-box;
  }
  .contact-list-v1-mobile-wrapper,
  .header-mobile {
    align-self: stretch;
  }
  .contact-list-v1-mobile-wrapper {
    height: 48.188rem;
    background-color: var(--white);
    overflow-y: auto;
    flex-shrink: 0;
    flex-direction: row;
    padding: 0 var(--padding-sm) 0;
    box-sizing: border-box;
    z-index: 2;
    margin-top: -0.063rem;
    text-align: center;
    font-size: var(--font-size-xs);
    color: var(--white);
    font-family: var(--font-inter);
  }
  .header-mobile {
    flex-direction: column;
  }
  .person-add-icon {
    height: 2rem;
    width: 2rem;
    position: absolute;
  }
  .secondary-mobile-contact-v1 {
    position: absolute;
    width: 4rem;
    height: 4rem;
    box-shadow: var(--stronger);
    border-radius: var(--br-3xs);
    background-color: var(--version-2-main-color);
    border: 1px solid var(--version-2-main-color);
    box-sizing: border-box;
    padding: var(--padding-sm) var(--padding-mini);
    z-index: 100sw;
    bottom: 50px;
    right: 50px;
}
  .menu-icons1 {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .menu-icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-3xl);
  }
  .summary {
    position: relative;
    line-height: 120%;
    display: inline-block;
    min-width: 4.25rem;
  }
  .menu-button {
    border-radius: var(--br-5xs);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mini) var(--padding-9xs-5);
    gap: var(--gap-9xs);
  }
  .menu-icons2 {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
  }
  .menu-icons-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-4xs) 0 var(--padding-3xs-5);
  }
  .summary1 {
    position: relative;
    line-height: 120%;
    display: inline-block;
    min-width: 2.688rem;
  }
  .menu-button1 {
    border-radius: var(--br-5xs);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mini) var(--padding-base);
    gap: var(--gap-9xs);
  }
  .menu-icons3 {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
  }
  .menu-icons-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl);
  }
  .summary2 {
    position: relative;
    line-height: 120%;
    display: inline-block;
    min-width: 4rem;
  }
  .menu-button2 {
    border-radius: var(--br-5xs);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mini) var(--padding-7xs-5);
    gap: var(--gap-9xs);
  }
  .menu-icons4 {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
  }
  .menu-icons-frame {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-lgi);
  }
  .summary3 {
    position: relative;
    line-height: 120%;
    display: inline-block;
    min-width: 3.875rem;
  }
  .menu-button3 {
    border-radius: var(--br-5xs);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mini) var(--padding-6xs-5);
    gap: var(--gap-9xs);
    color: var(--version-2-main-color);
  }
  .contacts-mobile,
  .menu-2-mobile-a-v1 {
    background-color: var(--white);
    display: flex;
    align-items: flex-start;
  }
  .menu-2-mobile-a-v1 {
    align-self: stretch;
    box-shadow: 0-1px 6px rgba(0, 0, 0, 0.1);
    flex-direction: row;
    justify-content: space-between;
    padding: 0 var(--padding-base);
    gap: var(--gap-xl);
  }
  .contacts-mobile {
    width: 100%;
    position: relative;
    overflow-y: auto;
    flex-direction: column;
    justify-content: flex-start;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: var(--font-size-mini);
    color: var(--menu-color);
    font-family: var(--version-2-body);
  }
