  @media screen and (max-width: 392px) {
    .contact-name6,
    .menu-2-mobile-a-v1 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 385px) {
    .contact-name5 {
      gap: var(--gap-mid);
    }
  }
  @media screen and (max-width: 382px) {
    .contact-name7 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 380px) {
    .contact-name5 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 352px) {
    .contact-name3 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 344px) {
    .contact-name2 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 342px) {
    .contact-name1 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 328px) {
    .contact-name {
      flex-wrap: wrap;
    }
    .contact-list-v1-mobile-wrapper {
      height: auto;
    }
  }
  @media screen and (max-width: 324px) {
    .contact-name6 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 320px) {
    .contact-name5 {
      gap: var(--gap-mid);
    }
  }
  @media screen and (max-width: 312px) {
    .contact-name7 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 307px) {
    .contact-name4 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 291px) {
    .contact-name3 {
      gap: var(--gap-mid);
    }
  }
  @media screen and (max-width: 284px) {
    .contact-name4 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 282px) {
    .contact-name2 {
      gap: var(--gap-mid);
    }
  }
  @media screen and (max-width: 280px) {
    .contact-name1 {
      gap: var(--gap-mid);
    }
  }
  @media screen and (max-width: 265px) {
    .contact-name {
      gap: var(--gap-mid);
    }
  }
  @media screen and (max-width: 261px) {
    .contact-name6 {
      gap: var(--gap-mid);
    }
  }
  
