.nav-buttons-box {
  display: none !important;
}

#nav-wrapper {
  display: flex;
  height: -webkit-fill-available;
  justify-content: end;
}

.privatePolicyAndLegalNoticeLinksNav {
  margin-bottom: var(--ui-space-md);
}

@media screen and (max-width: 801px) {
  .main {
    height: auto;
    overflow-x: hidden;
    margin-left: var(--ui-space-lg);
  }

  #navigation-container {
    display: none;
  }
}
