.legal_notice-wrapper {
  margin: 76px var(--ui-page-inline);
}

h1 {
  font-size: 61px;
  font-weight: 700;
  color: #000;
  margin-bottom: var(--ui-space-3xl);
}

h2 {
  font-size: 33px;
  font-weight: 700;
  color: var(--clr-main);
  margin-bottom: var(--ui-space-md);
}

h3 {
  font-size: 19px;
  font-weight: 700;
  color: var(--clr-text-medium-blue);
  margin-top: var(--ui-space-lg);
}

.blue {
  color: var(--clr-main);
}

.h1LegalNoticeBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h1LegalNoticeBox img {
  width: 40px;
  cursor: pointer;
  margin-bottom: 42px;
}

a {
  color: var(--clr-text-menu);
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
  padding: var(--ui-space-xs);
  /* line-height: 19.2px; */
  text-align: center;
  gap: var(--ui-space-xs);
}

a:not(.active):hover {
  color: var(--clr-main);
}

.active {
  background-color: var(--clr-main);
  font-weight: 700;
  color: #fff;
}

.navigation-container {
  display: flex;
  flex-direction: column;
  width: 232px;
  max-width: 232px;
}

.navigation-content {
  padding-top: 42px;
  padding-inline: 23px;
  display: flex;
  flex-direction: column;
  gap: var(--ui-content-gap-md);
  flex-grow: 1;
}

.nav-btn {
  background-color: white;
  display: flex;
  align-items: center;
  height: 40px;
  width: 186px;
  padding: var(--ui-space-xs) 30px;
  border-radius: 8px;
  gap: var(--ui-space-xs);
  color: var(--clr-text-menu);
  cursor: pointer;

  img {
    width: 24px;
  }

  &:hover {
    background-color: var(--clr-text-menu-hover);
  }
}

.privatePolicyAndLegalNoticeLinksNav {
  display: flex;
  flex-direction: column;
  gap: var(--ui-content-gap-md);
  margin-bottom: 66px;
  line-height: 19.2px;
}

@media (max-width: 801px) {
  .legal_notice-wrapper {
    margin: 36px var(--ui-page-inline-mobile);
  }
}

@media (max-width: 500px) {
  .h1LegalNoticeBox img {
    width: 32px;
    margin-bottom: 24px;
  }
}
