* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  max-width: 1440px;
}

.navigation-container {
  display: flex;
  flex-direction: column;
  width: 232px;
  max-width: 232px;
  box-shadow: 5px 2px 5.5px -3px rgba(0, 0, 0, 0.2);
  z-index:100;
}

.navigation-content {
  padding-top: 42px;
  padding-inline: 23px;
  display: flex;
  flex-grow: 1;
}

#navigation-container-mobile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  z-index: 100;
}

.nav-wrapper {
  display: flex;
  height: -webkit-fill-available;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.nav-buttons-box {
  display: flex;
  flex-direction: column;
  gap: var(--ui-space-sm);
}

.nav-btn {
  background-color: white;
  display: flex;
  align-items: center;
  height: 40px;
  width: 186px;
  padding: var(--ui-space-xs) 30px;
  border-radius: 8px;
  gap: var(--ui-space-xs);
  color: var(--clr-text-menu);
  cursor: pointer;

  img {
    width: 24px;
  }

  &:hover {
    background-color: var(--clr-text-menu-hover);
  }

  &.active {
    background-color: var(--clr-text-menu-hover);
  }
}

.privatePolicyAndLegalNoticeLinksNav {
  display: flex;
  flex-direction: column;
  gap: var(--ui-content-gap-md);
  margin-bottom: 42px;

  div {
    padding: var(--ui-space-xs);
    border-radius: 8px;
  }

  a {
    color: var(--clr-text-menu);
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: var(--ui-space-xs);
    border-radius: 8px;
  }
}

.privatePolicyAndLegalNoticeLinksNav a:hover {
  color: var(--clr-main);
}

.highlit {
  background-color: var(--clr-main);

  a,
  a:hover {
    color: #fff;
    font-weight: 700;
  }
}

.privacyNav-clicked,
.legalNav-clicked {
  padding: var(--ui-space-xs);
  border-radius: 8px;
  color: white;
  background-color: var(--clr-main);
}

/*////////////////////////////////////////////////////////////////////max  950px*/

@media (max-width: 950px) {
  .navigation-content {
    padding-inline: var(--ui-space-xs);
  }
}

/*////////////////////////////////////////////////////////////////////max  801px*/

@media (max-width: 801px) {
  .navigation-container {
    width: 0;
    .navigation-content {
      background-color: #fff;
      display: flex;
      justify-content: space-evenly;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 99;
    }
  }

  .navigation-content {
    border-top: 1px solid lightgrey;
    background-color: #fff;
    padding-top: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: var(--ui-content-gap-md);
    border: none;
    justify-content: center;
  }

  .nav-buttons-box {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-direction: row;
  }

  .nav-btn {
    background-color: white;
    flex-direction: column;
    width: min-content;
    text-wrap: nowrap;
    height: min-content;

    img {
      width: 24px;
      color: var(--clr-text-menu);
    }

    &:hover {
      background-color: #fff;
    }

    &.active {
      background-color: #fff;
      color: var(--clr-main);
    }
  }
  .nav-wrapper{
    position: relative;
    max-height: 100px;
    width: 100%;
    border: none;
    box-shadow: 0px -2px 5.5px rgba(0, 0, 0, .2)
  }
  .privatePolicyAndLegalNoticeLinksNav {
    display: none;
  }
}

@media (max-width: 560px) {
  h1 {
    font-size: 30px;
    margin-bottom: var(--ui-space-lg);
  }

  navigation-container {
    .navigation-content {
      justify-content: center;
      padding: var(--ui-space-xs) 0;
    }
  }

  .nav-buttons-box {
    justify-content: space-evenly;
    gap: 12px;
    a {
      font-size: 14px;
    }
    img {
      width: 16px;
    }
    gap: 5px;
  }

  .nav-btn {
    padding: var(--ui-space-xs) var(--ui-space-sm);
    font-size: 14px;

    img {
      width: 20px;
    }
  }
}
