:root {
  --clr-summary-square-button-focus: #d2e3ff;
}

.main-summary {
  display: flex;
  justify-content: center;
  align-items: center;
}

.greetingContainer-and-subMainSummary {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.button-container {
  display: grid;
  grid-template-columns: 204px 204px;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  /* margin-bottom: 48px; */
}

.inBoard {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  height: 219px;
  width: 204px;
  background: white;
}

.toDo {
  background-color: var(--clr-summary-square-button-focus);
  height: 219px;
  width: calc((204px * 2) + 24px);
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.square-button.toDo {
  background-color: var(--clr-summary-square-button-focus);
}

.square-button:hover {
  border-radius: 0px 30px 30px 30px;
  transform: scale(1.04, 1.04);
  transform-origin: right;
  transition: all ease-in-out 0.125s;
  transition: all ease-in-out 0.125s;
}

.inBoard:hover,
.inProgress:hover,
.feedback:hover,
.done:hover {
  border-radius: 0px 30px 30px 30px;
  transform: scale(1.04, 1.04);
  transform-origin: right;
  background-color: var(--clr-text-medium-blue);
  color: #fff;
}

.square-button:hover img {
  border: 3px solid #fff;
  border-radius: 50%;
}

.square-button:hover .amount,
.square-button:hover span {
  color: #fff;
}

.square-button.inBoard:active,
.square-button.inProgress:active,
.square-button.feedback:active,
.square-button.done:active {
  background-color: #fff;
  color: var(--clr-main);
  transform: scale(1);
  border-radius: 30px;
  .amount {
    color: #000;
  }
  span,
  .amount {
    color: var(--clr-main);
  }
  img {
    border: 3px solid #fff;
    border-radius: 50%;
  }
}

.square-button.toDo:hover {
  background-color: #fff;
  color: var(--clr-text-medium-blue);
  transform: scale(1.04, 1.04);
  span,
  .amount {
    color: var(--clr-text-medium-blue);
  }
  img {
    transition: border-color 0s ease;
  }
}

.square-button.toDo:active {
  background-color: var(--clr-main);
  color: #fff;
  transform: scale(1);
  border-radius: 30px;
  span,
  .amount {
    color: white;
  }
  img {
    border: 3px solid #fff;
    border-radius: 50%;
  }
}

.square-button img {
  transition: border-color 0.1s ease;
}

.square-button .amount,
.square-button span {
  transition: color 0.1s ease;
}

.inProgress {
  background-color: #fff;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  height: 219px;
  width: 204px;
}

.feedback {
  background-color: #fff;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  height: 219px;
  width: 204px;
}

.done {
  background-color: #fff;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  height: 219px;
  width: 204px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-wrap {
  white-space: nowrap;
}

.box-shadow {
  box-shadow: 0px 0px 4px 0px #00000029;
}

.main {
  background-color: #fff;
}

.main-wrapper {
  position: relative;
}

.sub-main-summary {
  display: grid;
  place-items: center;
  align-items: center;
  padding-bottom: 10px;
}

.summary-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: normal;
  gap: 70px;
  padding: 15px
}

.usernameForGreeting {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
}

.userGreeting {
  font-size: 48px;
  font-weight: 400;
}

.h1-box {
  max-width: fit-content;
  gap: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.daytimeGreeting {
  font-size: 64px;
  font-weight: 700;
  line-height: 76.8px;
  text-align: left;
  color: var(--clr-text-good-morning);
  align-content: center;
}

#usernameForGreeting {
  max-width: fit-content;
  color: var(--clr-main);
  height: 58px;
  font-size: 24px;
  font-weight: 700;
  text-wrap: nowrap;
}

button {
  border: unset;
}

