.square-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgrey;
  top: -0.5px;
  padding: 40px;
  gap: 0px;
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px #00000029;
  cursor: pointer;
  border: unset;
  transition: all 0.125s ease-in-out;
  text-decoration: none;
  color: inherit;
}

.inner-square-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.urgentAndDate {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-main);
  height: 191px;
  border-radius: 30px;
  padding: 28px 48px;
  gap: 9px;
  cursor: pointer;
  transition: all 0.125s ease-in-out;
  color: #fff;
  text-decoration: none;
}

.urgent {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  height: 219px;
  width: calc((204px * 2) + 24px);
}

.urgentAndDate:hover {
  border-radius: 0px 30px 30px 30px;
  transform: scale(1.04, 1.04);
  img {
    transform: scale(1.04, 1.02);
  }
  transition-timing-function: ease-in-out;
  background-color: #fff;
  border: 1px solid lightgrey;
  box-shadow: 0px 0px 0px 0px #00000029;
  font-size: 1.1em;
  color: var(--clr-text-medium-blue);
}

.urgentAndDate:hover * {
  border-color: var(--clr-text-medium-blue);
  color: var(--clr-text-medium-blue);
}

.urgentAndDate:active * {
  border-color: #fff;
  color: #fff;
}

.urgentAndDate:active {
  transform: scale(1);
  border-radius: 30px 30px 30px 30px;
  background-color: var(--clr-text-medium-blue);
  color: #fff;
}

.urgentAndDate .amount {
  height: 58px;
  width: 28px;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  text-align: center;
}

.urgentAndDate span {
  font-size: 23px;
  font-weight: 400;
}

.verticalSeparaterLine {
  height: 145px;
  border: 3px solid #fff;
  border-radius: 3px;
  margin-left: 35px;
  margin-right: 35px;
}

.date {
  font-weight: 700;
  font-size: 33px;
  color: #fff;
  margin-bottom: 13px;
}

.amount {
  height: 58px;
  width: 28px;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  text-align: center;
}

.image-and-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.inner-square-button span {
  color: var(--clr-main);
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  text-align: center;
  display: ruby-text;
}

.greeting-container {
  background-color: #fff;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-top: -108px;
}

.o-hidden-main {
  overflow: hidden;
  height: auto;
}

.mobile-greeting {
  font-size: 33px;
  font-weight: 400px;
  color: var(--clr-text-good-morning);
  text-align: center;
}

.mobile-greeting-username {
  font-size: 47px;
  font-weight: 700;
  color: var(--clr-style-lightblue);
  text-align: center;
}

.mobile-guest-greeting {
  font-size: 48px;
  font-weight: 700px;
  color: var(--clr-text-good-morning);
  text-align: center;
}

/*////////////////////////////Media Queries /////////////////////////////////////*/

/* / ///////////////////////////////////////////////////////////////////max 465px*/
