<div class="header-content header-mobile">
  <a class="header-logo-link" href="./summary.html" data-action="switch-page" data-url="summary.html" data-prevent-default="true" aria-label="Go to summary page">
    <img class="header-logo" src="./assets/img/logo-small_white.png" alt="">
  </a>
  <div class="header-inner-right">
    <span class="header-kanban-writing">Kanban Project Management Tool</span>
    <button type="button" id="helpIcon" class="helpIconButton" data-action="open-help" aria-label="Open help page">
      <img class="helpIcon" src="./assets/img/icon-help.png" alt="">
    </button>
    <button type="button" id="userInitials" class="header-initials-button" data-action="open-small-menu" aria-label="Open user menu">
    </button>
  </div>
  <div id="smallMenu" class="small-menu d-none">
    <a href="./privacy.html" class="smallMenuLink">Privacy Policy</a>
    <a href="./legal_notice.html" class="smallMenuLink">Legal Notice</a>
    <a href="#" class="smallMenuLink" data-action="logout" data-prevent-default="true">Log out</a>
  </div>
  <div id="smallMenuMobile" class="small-menu-mobile d-none">
    <a href="./help.html" class="smallMenuLink">Help</a>
    <a href="./privacy.html" class="smallMenuLink">Privacy Policy</a>
    <a href="./legal_notice.html" class="smallMenuLink">Legal Notice</a>
    <a href="#" class="smallMenuLink" data-action="logout" data-prevent-default="true">Log out</a>
  </div>
</div>
</div>
